.Sidebar {
    height: calc(100vh - $navbar-height);
    width: $sidebar-width;
    background-color: var(--inverted-bg-color);

    position: relative;
    transition: width 0.3s;

    &__collapsed {
        width: $sidebar-width-collapsed;
    }

    &_switchers {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: $spacer-xl;
    }
}