.Sidebar {
    background-color: var(--inverted-bg-color);
    height: calc(100vh - $navbar-height);
    position: relative;
    transition: width 0.3s;
    width: $sidebar-width;

    &__collapsed {
        width: $sidebar-width-collapsed;
    }

    &_switchers {
        bottom: 20px;
        display: flex;
        gap: $spacer-xl;
        justify-content: center;
        position: absolute;
        width: 100%;

        .Sidebar__collapsed & {
            flex-direction: column;
        }
    }

    &_button {
        bottom: 32px;
        position: absolute;
        right: -32px;
    }

    &_items {
        display: flex;
        flex-direction: column;
        gap: $spacer-m;
        margin-left: $spacer-xxl;
        margin-top: $spacer-l;
    }

    &_link {
        align-items: center;
        display: flex;
        gap: $spacer-m;
    }

    &_icon {
        fill: var(--inverted-primary-color);
    }

    &_text {
        opacity: 1;
        transition: 0.3s opacity;

        .Sidebar__collapsed & {
            opacity: 0;
            width: 0;
        }
    }
}
