.Sidebar {
    background-color: var(--inverted-bg-color);
    height: calc(100vh - $navbar-height);
    position: relative;
    transition: width 0.3s;
    width: $sidebar-width;

    &__collapsed {
        width: $sidebar-width-collapsed;
    }

    &_switchers {
        bottom: 20px;
        display: flex;
        gap: $spacer-xl;
        justify-content: center;
        position: absolute;
        width: 100%;
    }
}
