@import 'reset';
@import 'var/var';
@import 'themes/normals';
@import 'themes/dark';

.app {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font: $text-m;
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
