.Navbar {
    width: 100%;
    height: $navbar-height;
    background-color: var(--inverted-bg-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $spacer-xl;

    &_links {
        display: flex;
        flex-direction: row;
        gap: $spacer-l;
        margin-left: auto;
    }
}