.Navbar {
    align-items: center;
    background-color: var(--inverted-bg-color);
    display: flex;
    flex-direction: row;
    height: $navbar-height;
    padding: $spacer-xl;
    width: 100%;

    &_links {
        display: flex;
        flex-direction: row;
        gap: $spacer-l;
        margin-left: auto;
    }
}
