@import "reset.scss";
@import "var/var.scss";
@import "themes/normals.scss";
@import "themes/dark.scss";

.app {
    font: $text-m;
    background-color: crimson;
    padding: $spacer-m;

    background-color: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}
